
/*---------- Base ----------*/

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.left.delighter{
transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: translateX(30%);
      opacity: 0;
}

.left.delighter.started{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
   transform: none;
      opacity: 1;
}

.left.delighter.started.ended{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: none;
      opacity: 1;
}

.right.delighter{
transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: translateX(-30%);
      opacity: 0;
}

.right.delighter.started{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
   transform: none;
      opacity: 1;
}

.right.delighter.started.ended{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: none;
      opacity: 1;
}

.top.delighter{
transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: translateY(30%);
      opacity: 0;
}

.top.delighter.started{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
   transform: none;
      opacity: 1;
}

.top.delighter.started.ended{
    transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
      transform: none;
      opacity: 1;
}



body{
        overflow-y:scroll;
}

button{
    outline: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar{
        display: none;
}

html{
    overflow: scroll;
}


*{
    margin: 0;
    padding: 0;
  
}

div{

}



a{
    text-decoration: none;
    cursor : pointer;
    will-change: transform;

}

p{
 will-change: transform;
}

li{
    list-style-type: none;
}


/* ---------- Content ---------- {*/

body{

}

.s1{
   top: 11%;
}


.sc2{
   margin-top: -120%;
}

/*---- header ----*/

.kizi{
    height: 200px;
}

/*---- header-b ----*/

.but{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 6.5%;
}

.akaruku{
width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    display: none;
    color: #333;
    font-size: 20px;
    margin-top: -1px;
    border: 0px;
        font-family: "myFont";
}

.tukeru{
    display: block!important;
}

.kuraku{
 width: 60px;
    height: 60px;
    margin-top: -1px;
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
        border: 0px;
        font-family: "myFont";
}

.kuraku:hover{

}

@keyframes anime1 {
0% {bottom: 20px;}
100% {bottom: 0px;}
}



.siroku{
    display: none;
    transition: 0.3s;
}

.kuro{
    background-color: #333!important;
    transition: 2.0s;
}

.kurono a{
color: #fff!important;
    transition: 2.0s!important;
}

.kurono .h_img{
    filter: brightness(6)!important;
    transition: 2.0s;
}

.kuroban .st2{
    fill: #fff!important;
    transition: 2.0s;
}

.st2{
    transition: 2.0s;
}

/*---- he-b終わり ----*/

header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    transition: 2.0s;
}


.h_img{
    display: flex;
    align-items: center;
       margin-left: 80px;
    transition: 1.0s;
justify-content: center;
    width: 12%;
}

.h_icon{
  width: 100px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

.h_icon:hover{
    transition: 0.3s;
    filter: brightness(190%);
}

header .iconto{
    width: calc(90% + 10%);
    display: flex;
}

header ul{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    width: 100%;
}

header li{
    margin-left: 100px;
}

.bt-4{
    position: relative;
    overflow: hidden;
}

header a{
    color: #333;
    font-size: 20px;
    transition: 2.0s;
    position: relative;
}

header .bt-4 a{
    padding-top: 50px;
    padding-bottom: 50px;

    transition: .5s ease;
}

header .bt-4 a:hover{

    transition: .5s ease;
}



.h_img video{
    width: 131px;
    margin-top: -1px;
}


.eff-4 {
       width: 160px;
    height: 3px;
    bottom: 0px;
    left: -225px;
    transform: skewX(-30deg);
    position: absolute;
    background: rgb(226, 187, 14);
    border-right: 60px solid rgb(63, 81, 181);
    transition: all 1.5s cubic-bezier(0.42, 0.49, 0, 0.97) 0.1s;
}
 .bt-4:hover .eff-4{
  left:0;
}
.eff-5{
     width: 150px;
    height: 3px;
    bottom: 0px;
    left: -190px;
    position: absolute;
    border-right: 40px solid rgb(249, 59, 59);
    background: rgb(63, 81, 181);
    transition: all 1.1s ease 0s;
}
 .bt-4:hover .eff-5{
  left:0;
}


#content_1{
    width: 100%;
    margin: 0 auto;
    height: 86vh;
    position: relative;

}

#content_1::-webkit-scrollbar{
    display: none;
}

svg.topg{
    transform: scale(0.70);
    position: absolute;
    top: 55%;
    width: 1280px;
}

.st1{

}

.top_m{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

svg#レイヤー_1 {
    z-index: -1;
    width: 100%;
    margin-top: -275px;
}

/*---- container ----*/


.main_1{
    background-image: url("backg.png");
    margin-top: 300px;
    width: 100%;
    height:300px;
    background-size: cover;
}

.main_con{
    width: 100%;
    height: 100%;



}

.main_naka{
margin-top: -8px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
   position: relative;
    margin: 0 auto;
width: 100vw;
    background-image: url("hai_ue.png");
     background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: baseline;

}

.main_naka2{

    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    background-image: url("hai_sita.png");
    margin: 0 auto;
 background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

}

.titlebox{

    position: relative;
    margin-top: 70px;
    height: 80px;
    margin-left: calc(80px - 60px);
}

.titlebox div{
    position: absolute;
}


.ac_h{
    color: #00a7e2;
   widows: 800px;
    font-size: 50px;
       text-align: left;
    margin-left: 60px;
}

.ac_h span{
    background-color: #fff;

    margin-right: 50px;

    box-shadow:  6.0px 6.0px #333;

}

.eachbox{

    background-color: #333;
    width: 500px;
    height: 270px;
    box-shadow: 0px 0px 4px 2px #33333322;
}

.each_con{
    width: 80%;
    margin-left: 30px;
    height: 180px;
    border-bottom: 2px #fff solid;
}

.each_ti{
    transition: .7s cubic-bezier(0.38, 0.6, 0.25, 1);
    display: flex;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: right;
    justify-content: flex-end;
    width: 100%;
     right: 0;
    margin-left: 60px;
    font-size: 50px;
    letter-spacing: 40px;
}

.ani_l{
    animation: slide_l 2s both;
}

.ani_r{
    animation: slide_r 2s both;
}

@keyframes slide_l{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-200px);
    }

}

@keyframes slide_r{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(200px);
    }

}

.select{
    position: absolute;
transition: 1.5s cubic-bezier(0.38, 0.6, 0.25, 1);
    width: 720px;
    right: calc(80px - 40px);
    display: flex;
    bottom: 50px;
    justify-content: flex-end;
}



.select button{
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: none;
    background-color: #33333300;
    position: relative;
    color: #333;
    font-size: 60px;
    text-align: center;
}

.each_ti{
    text-shadow: 6.0px 6.0px #333;

}

.pro_ti span{
    font-size: 80px;
    text-shadow: 0.5px 0.5px #384fd6,1.0px 1.0px #384fd6,
       1.5px 1.5px #384fd6, 2.0px 2.0px #384fd6,2.5px 2.5px #384fd6, 3.0px 3.0px #384fd6, 3.5px 3.5px #384fd6, 4.0px 4.0px #384fd6, 6.0px 6.0px #333;
    margin-top: -38px;
    color: #fff;
}

.game_ti span{
    font-size: 80px;
    text-shadow: 0.5px 0.5px #384fd6,1.0px 1.0px #384fd6,
       1.5px 1.5px #384fd6, 2.0px 2.0px #384fd6,2.5px 2.5px #384fd6, 3.0px 3.0px #384fd6, 3.5px 3.5px #384fd6, 4.0px 4.0px #384fd6, 6.0px 6.0px #333;
    margin-top: -38px;
    color: #fff;
}

.fes_ti span{
    font-size: 80px;
    text-shadow: 0.5px 0.5px #e63c35,1.0px 1.0px #e63c35,
       1.5px 1.5px #e63c35, 2.0px 2.0px #e63c35,2.5px 2.5px #e63c35, 3.0px 3.0px #e63c35, 3.5px 3.5px #e63c35, 4.0px 4.0px #e63c35, 6.0px 6.0px #333;
    margin-top: -38px;
    color: #fff;
}


.kukuri{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 60px;
        position: absolute;
    top: 45%;
}

.kukuri p{
    text-shadow: 0.5px 0.5px #fff,1.0px 1.0px #333,
       1.5px 1.5px #333, 2.0px 2.0px #00a7e2,2.5px 2.5px #333, 3.0px 3.0px #333, 3.5px 3.5px #333, 4.0px 4.0px #333, 6.0px 6.0px #333
}

.kukuri .l{
    margin-left: 30px;
    cursor : pointer;
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
}

.kukuri .r{
    margin-right: 30px;
    cursor : pointer;
     transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
}

.kukuri .l:hover{
    margin-left: 20px;
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
    cursor : pointer;
}

.kukuri .r:hover{
    margin-right: 20px;
     transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
    cursor : pointer;
}

.kukuri p:active{
    transform: scale(0.9);
    cursor : pointer;
}

/*---- mainnaka2 ----*/

.frame{
    border: none;
    width: 824px;
    height: 624px;
    transform: scale(0.7);

 background-image: url(tv.png);
    z-index: 100000;
    padding: 60px 60px 60px 60px;
background-position: center;
    background-size: cover;
}

.rpg{
    border: none;
    width: 824px;
    height: 624px;



    z-index: 100000;
background-position: center;
    background-size: cover;
}

.onoff{
    position: absolute;
    z-index: 100001;
}

.gamein{
    width: 100%;
    font-size: 60px;
    margin-left: 80px;

    margin-top: 30px;
    height: 10%;

    font-family: "myFont2";
    text-shadow: 0.5px 0.5px #384fd6,1.0px 1.0px #384fd6,
       1.5px 1.5px #384fd6, 2.0px 2.0px #384fd6,2.5px 2.5px #384fd6, 3.0px 3.0px #384fd6, 3.5px 3.5px #384fd6, 4.0px 4.0px #384fd6, 6.0px 6.0px #333;
    color: #fff;
}

.gamein span{
    margin-right: 30px;
        padding: 8px;
    text-align: center;
    background-color: #384fd6;
    box-shadow: 6.0px 6.0px #333;
}

.tskuru{

    align-items: center;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
}

.tskuru .yazi{
   font-family: "myFont2";

    font-weight: bold;
    text-shadow: 0.5px 0.5px #e63c35,1.0px 1.0px #e63c35,
       1.5px 1.5px #e63c35, 2.0px 2.0px #e63c35,2.5px 2.5px #e63c35, 3.0px 3.0px #e63c35, 3.5px 3.5px #e63c35, 4.0px 4.0px #e63c35, 6.0px 6.0px #333;
    transition: .7s cubic-bezier(0.38, 0.6, 0.25, 1);
    font-size: 60px;
       cursor : pointer;
}

.tskuru .g_l:hover{
   transform: translateX(-15px);
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
    cursor : pointer;
}

.tskuru .g_l{
    margin-left: 60px;
    cursor : pointer;
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
}

.tskuru .g_r:hover{
    transform: translateX(15px);
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
    cursor : pointer;
}

.tskuru .g_r{
    cursor : pointer;
    margin-right: 60px;
    transition: .4s cubic-bezier(0.9, 0.03, 0.04, 1.01);
}

.tskuru .yazi:active{
    cursor : pointer;
     font-size: 55px;
}


/*---- dailytop.container ----*/

.con_a{
    background-image: url("eye.png");
    background-size: cover;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

.actives{
    width: 1095px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    justify-content: flex-start;
   
    will-change: transform;
}

.actives h1{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: #333;
    width: 100%;

}

.actives span{

    position: relative;
}

.actives h1 span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    width: 100%;
    height: 10px;
    border-radius: 18px;
    background-color: #0ea3e2;
}

.a_list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.box-a{
    width: 335px;
    height: 335px;
    margin-right: 30px;
    margin-left: 0;
        margin-bottom: 30px;
    position: relative;
    transition: 0.3s;
    background-color: #333;
        border-radius: 15px;
}

.a_list a{
    box-shadow: 4px 4px 10px #33333344;
}

.a_list a:hover{
    box-shadow: 8px 8px 10px #33333344;
    transition: 1.0s ease;
    transform: translateY(-15px);
}

.a_list a{
    transition: 1.0s ease;
    border-radius: 15px;
    width: 335px;
    height: 335px;
    margin-right: 30px;
    position: relative;
}

.hona::before {
    content: "";
    top: -10px;
    left: -10px;
    border-bottom: 135px solid transparent;
    border-left: 135px solid #0fa3e3;
    position: absolute;
    z-index: 100;
    overflow: hidden;
        transition: 0.9s cubic-bezier(0.41, 0, 0, 0.99);
}

.a_list a:hover .hona::before{
        position: absolute;
    content: "";
    top: -10px;
    left: -10px;
        transition: 0.9s cubic-bezier(0.41, 0, 0, 0.99);
    z-index: 100;
    border-bottom: 335px solid transparent;
    border-left: 335px solid #0fa3e3;
}

.hona p {
    position: absolute;
    z-index: 100;
    top: 18px;
    transform: skewX(-10deg);
    left: 22px;
    background:  linear-gradient(transparent 60%, #f3da0c 60%);
    color: #fff;
    font-size: 31px;
}

p.dis {
    top: 43%;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    left: 8%;
    background: none;
}

.a2018{
    background-color: #f93b3b;
}

.a2017{
    background-color: #42dc38;
}

p.nenn {
    text-align: center;
    /* position: absolute; */
    /* top: 0; */
    /* margin: 0 auto; */
    color: #333;
    font-size: 90px;
    border-bottom: 2px solid;
    width: 300px;
    margin: 0 auto;
    margin-top: 48px;
}

p.nena {
    text-align: center;
    color: #333;
    margin-top: 23px;
    font-size: 38px;
}

.actives h2 span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    width: 100%;
    height: 5px;
    background-color: #e2bb0e;
}

.img1{
    background-image: url(GOPR0037.jpg);
    background-size: cover;

}


/*---- load ----*/

.cons{
    position: relative;
}

.jsload{
    background-color: #0d63bb!important;
    width: 100vw!important;
    height: 100vh!important;
}

.load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 200px);
}

.load h1{
    font-size: 200px;
    color: #fff;
    font-weight: bold;
    margin-top: -200px;
    background:  linear-gradient(transparent 60%, #e2bb0e 60%);
    transform: skewX(-10deg);
}

.load1{
    width: 1280px;
}

.load1 a{
    color: #fff;
}

.load1 img{
    filter: brightness(1000%);
}

.load1 img:hover{
    filter: brightness(600%);
}

.load1 .eff-4{
    background: #fff!important;
}
.load1 .eff-5{
    background: #fff!important;
}

.load1 .eff-4{
    border-color: #0d63bb;
}

.load1 .eff-5{
    border-color: #fff;
}

#lottie {
    position: absolute;
    top: 18%;
    width: 1000px;
    transform: skewX(-10deg);
}


/*---- Footer ----*/

footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(footer.png);
    background-size: cover;
}

.f_ber{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;


}

.f_ber img{

}

.f_ber img{
    width: 400px;
}

/*---- intro.html ----*/

.cont{
    background-color: rgb(13, 99, 187);
}

/*---- particles.js container ----*/

#particles-js{
    position:absolute;
    width: 100%;
    height: 120%;
    background-color: #fff;
    transition: 2.0s;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

#particles-js::-webkit-scrollbar{
    display: none;
}

canvas{
    position: absolute;
    height: 950px;
    z-index: -1;
}

/*--- edit ---*/

.edit_ran{
    display: none;
}
